@import "tailwindcss";





/* custom color swiper pagination */
.swiper-pagination-bullet {
    background-color: rgb(0, 204, 255) !important;
    opacity: 0.5 !important;
}
.swiper-pagination-bullet-active{
    opacity: 1 !important;
}